/* :root {
  font-size: 13px;
} */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: rgb(106, 154, 138);
}

.titleHome {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 5px;
    margin: 10px 10px;
}

.centerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.row {
    display: flex;
}

.column {
    float: left;
    width: 20%;
    height: 20%;
    min-width: 220px;
    margin-bottom: 16px;
    padding: 10px;
    flex: 1;
}

.cardHome {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    background-color: rgb(0, 0, 0, 0.1);
}

.buttonHome {
    display: inline-block;
    padding: 8px;
    color: black;
    font-weight: bold;
    background-color: orange;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

a {
    text-decoration: none;
}

.buttonHome:hover {
    opacity: 0.5;
}

.imgHome img {
    height: 130px;
}

.imgHome {
    display: flex;
    justify-content: center;
}

/* Stilurile pentru ecrane extra mici (telefoane, până la 600px) */
@media only screen and (max-width: 600px) {
   
    .column {
        width: 100%;
        margin-bottom: -30px;
    }

    .row {
        flex-direction: column;
    }

    .titleHome {
        font-size: 24px;
    }

    .imgHome img {
        height: 90px;
    }
}

/* Stilurile pentru ecrane mici (tablete portret și telefoane mari, începând de la 600px) */
@media only screen and (min-width: 600px) {
 
    .column {
        width: 100%;
    }

    .titleHome {
        font-size: 26px;
    }
}

/* Stilurile pentru ecrane medii (tablete în peisaj, începând de la 768px) */
@media only screen and (min-width: 768px) {

    .column {
        width: 33.33%;
    }

    .titleHome {
        font-size: 28px;
    }

    .imgHome img {
        height: 120px;
    }
}

/* Stilurile pentru ecrane mari (laptopuri/desktopuri, începând de la 992px) */
@media only screen and (min-width: 992px) {
    :root {
        font-size: 18px;
    }

    .column {
        width: 25%;
    }

    .titleHome {
        font-size: 30px;
    }

    .imgHome img {
        height: 140px;
    }
}