* {
    box-sizing: border-box;
}

body {
    background-color: rgb(106, 154, 138);
    margin: 0;
}

.initial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    padding-top: 10px;
    margin-top: 7%
}

#add-task {
    border-radius: 8px;
    padding: 5px 10px;
    font-size: large;
    background-color: orange;
    border-color: orange;
    display: flex;
    align-items: flex-start;
    margin-left: 80px;
    padding: 10px 15px;
}

#add-task:hover {
    cursor: pointer;
    opacity: 0.7;
}

#favDialog {
    width: 550px;
    height: 400px;
    margin-top: 210px;
    border-radius: 8px;
    opacity: 0.7;
    background-color: orange;
    border-color: orange;
}

.add-task-btn {
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#cancelBtn {
    padding: 10px;
    border-color: rgb(106, 154, 138);
    background-color: rgb(106, 154, 138);
    border-radius: 8px;
}

#confirmBtn {
    border-color: rgb(106, 154, 138);
    background-color: rgb(106, 154, 138);
    border-radius: 8px;
    margin-left: 15px;
}

#cancelBtn:hover,
#confirmBtn:hover {
    opacity: 0.7;
}

label {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

label[for="description"] {
    margin-top: 15px;
}

textarea {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
textarea {
    border-radius: 3px;
    width: 500px;
    height: 50px;
    background-color: rgb(106, 154, 138);
    border-color: rgb(106, 154, 138);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

input:focus,
textarea:focus {
    border: 2px solid rgb(106, 154, 138);
    outline: none;
}

.titleHome {
    margin-top: 3%;
    margin-bottom: 5%;
}

.centerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    float: left;
    width: 20%;
    height: 20%;
    min-width: 220px;
    margin-bottom: 16px;
    padding: 10px;
    flex: 1;
}

.cardHome {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.1);
}

.buttonHome {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    font-weight: bold;
    background-color: orange;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.buttonHome:hover {
    opacity: 0.5;
}

.imgHome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 130px;
}

.imgHome:hover {
    opacity: 0.5;
    cursor: pointer;
}

.centerProgressTasks {
    position: absolute;
    padding-left: 0%;
    padding-right: 0%;
    place-items: center stretch;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    text-align: center;
    align-self: center;
    align-items: center;
}

.cardProgressTasks {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 300px;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-y: auto;
}

.contentCardProgressTasks {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    height: 240px;
}

.second button {
    background-color: rgba(0, 184, 113, 0);
    color: white;
    margin-top: 0%;
    height: 40px;
    width: 30px;
    font-family: serif;
    text-align: center;
    font-size: small;
    padding: 0%;
    border: none;
}

.plus,
.edit {
    margin-top: 5px;
    height: 25px;
    width: 25px;
}

.trash {
    height: 30px;
    width: 25px;
}

.plus:hover,
.trash:hover,
.edit:hover {
    opacity: 0.7;
}

.second p {
    float: right;
    font-size: 0rem;
    padding: 0px;
    padding-right: 1%;
    align-items: center;
}

div.second {
    background-color: orange;
    height: 40px;
    padding-top: 0px;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
}

.second p.titleTask {
    color: black;
    font-family: serif;
    text-align: left;
    font-size: medium;
    font-weight: bold;
    float: left;
    margin-left: 3%;
    margin-top: 10px;
    height: 20px;
    width: 190px;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-y: auto;
}

.titleContentTask {
    font-weight: bold;
    font-size: large;
    color: orange;
}

.titleContentTask:hover {
   color: black;
   font-size: x-large;
}

.buttonTask {
    cursor: pointer;
    text-align: right;
}

.topnav {
    overflow: hidden;
    background-color: orange;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    position: fixed;
}

.topnav a {
    float: left;
    color: black;
    background-color: orange;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: black;
    color: white;
    padding: 17px 17px;
}

.topnav a[href="home.html"] {
    font-weight: bold;
    font-size: large;
}

